<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Important Legal Notice</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Did this man attempt to audit your computer information systems between approximately 2007-2009?</h1>
    <img src="{{ url_for('static', filename='theo.png') }}" alt="Theo">
    <h2>If so, then you may be entitled to compensation</h2>
    <a href="{{ url_for('metadata') }}" class="btn">Click here for contact details</a>
  </div>

  <div class="footer">
    <p><strong>Artwork by the greatest meme maker: A.P.</strong></p>
  </div>
</body>
</html>
