<!DOCTYPE html>
<html>
<head>
    <title>Instance Metadata</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1>Instance Metadata</h1>

<table>
<tr><th>Instance Name</th><td>{{ data.instance_name }}</td></tr>
<tr><th>Zone</th><td>{{ data.zone }}</td></tr>
<tr><th>Private IP</th><td>{{ data.private_ip }}</td></tr>
<tr><th>Project ID</th><td>{{ data.project_id }}</td></tr>
<tr><th>Network</th><td>{{ data.network }}</td></tr>
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
